.confirmation-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    border-top-color: var(--secondary-color);
    animation: spinner 1s linear 0s infinite;
}

.confirmation-error {
    background: var(--error-color);
    padding: 20px 40px;
    border: 1px solid #000;
    max-width: 600px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: auto;
}

.confirmation-success {
    background: var(--secondary-color);
    color: #fff;
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px;
    font-size: 26px;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    
}

@keyframes spinner {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}