.input-field {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 50px;
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 50%);
    margin: auto;
    margin-bottom: 20px;
}

.input-field.focus {
    box-shadow: 0 0 2px 1px var(--secondary-color);
}

.input-field > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
    color: #333;
    font-size: 18px;
}

.password-icon-button {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
}

.password-icon-button > * {
    font-size: 22px;
    cursor: pointer;
}