.alert {
    padding: 6px 18px;
    text-align: center;
    background: var(--main-color);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.resend-link-button {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}